<%- include('../../partials/header') %>

    <% if(flix.length> 0) { %>

        <section id="show-page">
            <table id="list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release<br>Year</th>
                        <th>mpaaRating</th>
                        <th>DELETE</th>
                        <th>Flix Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% flix.forEach(function(f) { %>
                        <tr>
                            <td>
                                <%= f.title %>
                            </td>
                            <td>
                                <%= f.releaseYear %>
                            </td>
                            <td>
                                <%= f.mpaaRating %>
                            </td>
                            <td>
                                <form action="/flix/<%= f._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button class="red btn" type="submit">X</button>
                                </form>
                            </td>
                            <td>
                                <a class="red-text" href="/flix/<%= f._id %>">DETAILS</a>
                            </td>




                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>


        <% } else { %>
            <p> Add Some Flix To Be Seen Here </p>
            <% } %>





                <%- include('../../partials/footer') %>