<%- include('../../partials/header') %>

    <% if(flix.length> 0) { %>

        <section id="show-page">
            <table id="list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release<br>Year</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <% flix.forEach(function(m) { %>
                        <tr>
                            <td>
                                <%= m.title %>
                            </td>
                            <td>
                                <%= m.releaseYear %>
                            </td>
                            <td>
                                <form action="/flix/<%= m._id %>?_method=DELETE" class="delete-form" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            </td>
                            <!-- <td><a href="/flix/<%= m._id %>">DELETE</a></td> -->
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>


        <% } else { %>
            <p> Add Some Flix To Be Seen Here </p>
            <% } %>





                <%- include('../../partials/footer') %>